{
  "openapi": "3.0.0",
  "info": {
    "title": "CIAM Microservice API",
    "version": "1.0.0",
    "description": "Customer Identity and Access Management API for Mandai Wildlife Group. This API provides endpoints for user authentication, membership management, and WildPass digital passes.\n\n## Authentication\n\n1. **Get tokens**: Call `POST /v1/ciam/users/sessions` with email and password\n2. **Include App ID**: Add `mwg-app-id` header on ALL requests\n3. **Protected routes**: Add `Authorization: Bearer <accessToken>` header\n4. **Refresh tokens**: Call `POST /v1/ciam/token/refresh` when token expires\n5. **Passwordless login**: Use `POST /v2/ciam/auth/passwordless/send` and `POST /v2/ciam/auth/passwordless/session`\n\n## Error Codes\n\n| Code | Description |\n|------|-------------|\n| `MWG_CIAM_UNAUTHORIZED` | Invalid or missing credentials/token |\n| `MWG_CIAM_PARAMS_ERR` | Invalid request parameters |\n| `MWG_CIAM_USER_SIGNUP_ERR` | User signup failed |\n| `MWG_CIAM_USER_SIGNUP_SUCCESS` | User signup successful |\n| `MWG_CIAM_LOGIN_SUCCESS` | Login successful |\n| `MWG_CIAM_OTP_VERIFY_SUCCESS` | OTP verification successful |\n| `MWG_CIAM_INTERNAL_SERVER_ERROR` | Internal server error |\n| `MWG_CIAM_NOT_IMPLEMENTED` | Feature not implemented |\n| `MWG_CIAM_PASSWORD_ERR_01` | Invalid password format |\n| `MWG_CIAM_PASSWORD_ERR_02` | Passwords do not match |\n| `MWG_CIAM_PASSWORD_ERR_03` | Old password incorrect |\n| `MWG_CIAM_PASSWORD_ERR_04` | New password same as old |\n| `MWG_CIAM_PASSWORD_ERR_05` | Reset token expired or used |\n| `MWG_CIAM_REQUIRE_CHANGE_PASSWORD` | Password change required |\n\n## Async Processing\n\nSome operations trigger background processing via SQS queues:\n\n| Operation | Background Tasks |\n|-----------|------------------|\n| User Signup | Galaxy import, Card face generation, PassKit creation, Welcome email |\n| Membership Update | PassKit regeneration, Notification email |\n| Password Reset | Reset email via SendGrid |\n\nThese tasks are processed asynchronously. The API returns immediately with a success response, and background jobs complete within a few minutes.\n\n**Note:** Failed background jobs are tracked in the `failed_jobs` table and can be retried via the admin portal.\n",
    "contact": {
      "name": "Mandai Wildlife Group"
    }
  },
  "servers": [
    {
      "url": "https://services.mandaiapi.com",
      "description": "Production"
    },
    {
      "url": "https://uat-services.mandaiapi.com",
      "description": "UAT"
    },
    {
      "url": "https://dev-services.mandaiapi.com",
      "description": "Development"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local"
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "Health check endpoints"
    },
    {
      "name": "Auth",
      "description": "Authentication - Login, logout, OTP, and session management"
    },
    {
      "name": "Users",
      "description": "User registration and profile management"
    },
    {
      "name": "Passwords",
      "description": "Password reset and change flows"
    },
    {
      "name": "Memberships",
      "description": "Membership passes and WildPass management"
    },
    {
      "name": "Tokens",
      "description": "Access token verification and refresh"
    }
  ],
  "components": {
    "securitySchemes": {
      "AppId": {
        "type": "apiKey",
        "in": "header",
        "name": "mwg-app-id",
        "description": "Application ID for client identification. Required for all API calls."
      },
      "ApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key for authorized clients. Required when api_key_validation switch is enabled."
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT access token obtained from login or passwordless authentication."
      }
    },
    "schemas": {
      "LoginRequest": {
        "type": "object",
        "required": ["email", "password"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "User's email address",
            "example": "user@example.com"
          },
          "password": {
            "type": "string",
            "format": "password",
            "description": "User's password",
            "example": "SecurePass123!"
          },
          "language": {
            "$ref": "#/components/schemas/LanguageCode"
          }
        }
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["success", "failed"],
            "example": "success"
          },
          "statusCode": {
            "type": "integer",
            "example": 200
          },
          "membership": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "example": 200
              },
              "mwgCode": {
                "type": "string",
                "example": "MWG_CIAM_LOGIN_SUCCESS"
              },
              "message": {
                "type": "string",
                "example": "Login successful"
              },
              "email": {
                "type": "string",
                "example": "user@example.com"
              },
              "mandaiId": {
                "type": "string",
                "example": "MWG-12345678"
              },
              "accessToken": {
                "type": "string",
                "description": "JWT access token",
                "example": "eyJhbGciOiJSUzI1NiIsInR5cCI6..."
              },
              "refreshToken": {
                "type": "string",
                "description": "Refresh token for obtaining new access tokens",
                "example": "eyJjdHkiOiJKV1QiLCJlbmMiOi..."
              },
              "idToken": {
                "type": "string",
                "description": "ID token containing user claims",
                "example": "eyJhbGciOiJSUzI1NiIsInR5cCI6..."
              },
              "expiresIn": {
                "type": "integer",
                "description": "Token expiry time in seconds",
                "example": 3600
              }
            }
          }
        }
      },
      "LogoutRequest": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "User's email address",
            "example": "user@example.com"
          },
          "mandaiId": {
            "type": "string",
            "description": "User's Mandai ID (alternative to email)",
            "example": "MWG-12345678"
          },
          "language": {
            "$ref": "#/components/schemas/LanguageCode"
          }
        }
      },
      "LogoutResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["success", "failed"],
            "example": "success"
          },
          "statusCode": {
            "type": "integer",
            "example": 200
          },
          "membership": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "example": 200
              },
              "message": {
                "type": "string",
                "example": "Logout successful"
              }
            }
          }
        }
      },
      "ResetPasswordRequest": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "User's email address",
            "example": "user@example.com"
          },
          "language": {
            "$ref": "#/components/schemas/LanguageCode"
          }
        }
      },
      "ResetPasswordResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["success", "failed"],
            "example": "success"
          },
          "statusCode": {
            "type": "integer",
            "example": 200
          },
          "membership": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "example": 200
              },
              "message": {
                "type": "string",
                "example": "Password reset email sent"
              }
            }
          }
        }
      },
      "ValidateResetTokenResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["success", "failed"],
            "example": "success"
          },
          "statusCode": {
            "type": "integer",
            "example": 200
          },
          "membership": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "example": 200
              },
              "valid": {
                "type": "boolean",
                "example": true
              },
              "message": {
                "type": "string",
                "example": "Token is valid"
              }
            }
          }
        }
      },
      "ConfirmResetPasswordRequest": {
        "type": "object",
        "required": ["passwordToken", "password", "confirmPassword"],
        "properties": {
          "passwordToken": {
            "type": "string",
            "description": "Password reset token from email",
            "example": "abc123def456"
          },
          "password": {
            "type": "string",
            "format": "password",
            "description": "New password",
            "example": "NewSecurePass123!"
          },
          "confirmPassword": {
            "type": "string",
            "format": "password",
            "description": "Confirm new password",
            "example": "NewSecurePass123!"
          },
          "language": {
            "$ref": "#/components/schemas/LanguageCode"
          }
        }
      },
      "ConfirmResetPasswordResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["success", "failed"],
            "example": "success"
          },
          "statusCode": {
            "type": "integer",
            "example": 200
          },
          "membership": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "example": 200
              },
              "message": {
                "type": "string",
                "example": "Password reset successful"
              }
            }
          }
        }
      },
      "TokenVerifyRequest": {
        "type": "object",
        "properties": {
          "language": {
            "$ref": "#/components/schemas/LanguageCode"
          }
        }
      },
      "TokenVerifyResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["success", "failed"],
            "example": "success"
          },
          "statusCode": {
            "type": "integer",
            "example": 200
          },
          "membership": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "example": 200
              },
              "valid": {
                "type": "boolean",
                "example": true
              },
              "email": {
                "type": "string",
                "example": "user@example.com"
              }
            }
          }
        }
      },
      "TokenRefreshRequest": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "User's email address",
            "example": "user@example.com"
          },
          "mandaiId": {
            "type": "string",
            "description": "User's Mandai ID",
            "example": "MWG-12345678"
          },
          "language": {
            "$ref": "#/components/schemas/LanguageCode"
          }
        }
      },
      "TokenRefreshResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["success", "failed"],
            "example": "success"
          },
          "statusCode": {
            "type": "integer",
            "example": 200
          },
          "token": {
            "type": "object",
            "properties": {
              "accessToken": {
                "type": "string",
                "description": "New JWT access token",
                "example": "eyJhbGciOiJSUzI1NiIsInR5cCI6..."
              },
              "idToken": {
                "type": "string",
                "description": "New ID token",
                "example": "eyJhbGciOiJSUzI1NiIsInR5cCI6..."
              },
              "expiresIn": {
                "type": "integer",
                "description": "Token expiry time in seconds",
                "example": 3600
              }
            }
          }
        }
      },
      "PasswordlessSendRequest": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "User's email address to send OTP",
            "example": "user@example.com"
          },
          "language": {
            "$ref": "#/components/schemas/LanguageCode"
          }
        }
      },
      "PasswordlessSendResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["success", "failed"],
            "example": "success"
          },
          "statusCode": {
            "type": "integer",
            "example": 200
          },
          "membership": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "example": 200
              },
              "message": {
                "type": "string",
                "example": "OTP sent successfully"
              },
              "email": {
                "type": "string",
                "example": "user@example.com"
              }
            }
          }
        }
      },
      "PasswordlessVerifyRequest": {
        "type": "object",
        "required": ["email", "otp"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "User's email address",
            "example": "user@example.com"
          },
          "otp": {
            "type": "string",
            "description": "One-time password received via email",
            "example": "123456"
          },
          "language": {
            "$ref": "#/components/schemas/LanguageCode"
          }
        }
      },
      "PasswordlessVerifyResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["success", "failed"],
            "example": "success"
          },
          "statusCode": {
            "type": "integer",
            "example": 200
          },
          "membership": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "example": 200
              },
              "mwgCode": {
                "type": "string",
                "example": "MWG_CIAM_OTP_VERIFY_SUCCESS"
              },
              "message": {
                "type": "string",
                "example": "OTP verified successfully"
              },
              "email": {
                "type": "string",
                "example": "user@example.com"
              },
              "mandaiId": {
                "type": "string",
                "example": "MWG-12345678"
              },
              "accessToken": {
                "type": "string",
                "description": "JWT access token",
                "example": "eyJhbGciOiJSUzI1NiIsInR5cCI6..."
              },
              "refreshToken": {
                "type": "string",
                "description": "Refresh token",
                "example": "eyJjdHkiOiJKV1QiLCJlbmMiOi..."
              },
              "idToken": {
                "type": "string",
                "description": "ID token",
                "example": "eyJhbGciOiJSUzI1NiIsInR5cCI6..."
              },
              "expiresIn": {
                "type": "integer",
                "description": "Token expiry time in seconds",
                "example": 3600
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["failed"],
            "example": "failed"
          },
          "statusCode": {
            "type": "integer",
            "example": 400
          },
          "membership": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "example": 400
              },
              "mwgCode": {
                "type": "string",
                "example": "MWG_CIAM_PARAMS_ERR"
              },
              "message": {
                "type": "string",
                "example": "Wrong parameters"
              },
              "error": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "UnauthorizedError": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["failed"],
            "example": "failed"
          },
          "statusCode": {
            "type": "integer",
            "example": 401
          },
          "membership": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "example": 401
              },
              "mwgCode": {
                "type": "string",
                "example": "MWG_CIAM_UNAUTHORIZED"
              },
              "message": {
                "type": "string",
                "example": "Unauthorized"
              }
            }
          }
        }
      },
      "InternalServerError": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["failed"],
            "example": "failed"
          },
          "statusCode": {
            "type": "integer",
            "example": 500
          },
          "membership": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "example": 500
              },
              "mwgCode": {
                "type": "string",
                "example": "MWG_CIAM_INTERNAL_SERVER_ERROR"
              },
              "message": {
                "type": "string",
                "example": "Internal Server Error"
              }
            }
          }
        }
      },
      "PingResponse": {
        "type": "object",
        "properties": {
          "pong": {
            "type": "string",
            "example": "pang"
          }
        }
      },
      "LanguageCode": {
        "type": "string",
        "enum": ["en", "ja", "kr", "zh"],
        "description": "Language code for localized messages",
        "example": "en"
      },
      "GroupType": {
        "type": "string",
        "enum": ["wildpass", "membership-passes"],
        "description": "User group type",
        "example": "membership-passes"
      },
      "MembershipCheckRequest": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "User's email address to check membership",
            "example": "user@example.com"
          },
          "language": {
            "$ref": "#/components/schemas/LanguageCode"
          }
        }
      },
      "MembershipCheckResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["success", "failed"],
            "example": "success"
          },
          "statusCode": {
            "type": "integer",
            "example": 200
          },
          "membership": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "example": 200
              },
              "email": {
                "type": "string",
                "example": "user@example.com"
              },
              "mandaiId": {
                "type": "string",
                "example": "MWG-12345678"
              },
              "hasMembership": {
                "type": "boolean",
                "example": true
              },
              "membershipDetails": {
                "type": "object",
                "properties": {
                  "categoryType": {
                    "type": "string",
                    "example": "Annual Pass"
                  },
                  "expiryDate": {
                    "type": "string",
                    "format": "date",
                    "example": "2025-12-31"
                  },
                  "status": {
                    "type": "string",
                    "example": "active"
                  }
                }
              }
            }
          }
        }
      },
      "MembershipPassesRequest": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "User's email address",
            "example": "user@example.com"
          },
          "mandaiId": {
            "type": "string",
            "description": "User's Mandai ID (alternative to email)",
            "example": "MWG-12345678"
          },
          "language": {
            "$ref": "#/components/schemas/LanguageCode"
          }
        }
      },
      "MembershipPassesResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["success", "failed"],
            "example": "success"
          },
          "statusCode": {
            "type": "integer",
            "example": 200
          },
          "membership": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "example": 200
              },
              "passes": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "passId": {
                      "type": "string",
                      "example": "PASS-001"
                    },
                    "visualId": {
                      "type": "string",
                      "example": "VIS-12345"
                    },
                    "passType": {
                      "type": "string",
                      "example": "Annual Pass"
                    },
                    "expiryDate": {
                      "type": "string",
                      "format": "date",
                      "example": "2025-12-31"
                    },
                    "status": {
                      "type": "string",
                      "example": "active"
                    },
                    "appleWalletUrl": {
                      "type": "string",
                      "format": "uri",
                      "example": "https://example.com/wallet/apple/pass123"
                    },
                    "googleWalletUrl": {
                      "type": "string",
                      "format": "uri",
                      "example": "https://example.com/wallet/google/pass123"
                    }
                  }
                }
              },
              "accessToken": {
                "type": "string",
                "description": "New access token if token was refreshed",
                "example": "eyJhbGciOiJSUzI1NiIsInR5cCI6..."
              }
            }
          }
        }
      },
      "CreateMembershipPassRequest": {
        "type": "object",
        "required": ["email", "passType"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "User's email address",
            "example": "user@example.com"
          },
          "passType": {
            "type": "string",
            "description": "Type of membership pass",
            "example": "annual"
          },
          "language": {
            "$ref": "#/components/schemas/LanguageCode"
          }
        }
      },
      "UpdateMembershipPassRequest": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "User's email address",
            "example": "user@example.com"
          },
          "passType": {
            "type": "string",
            "description": "Type of membership pass",
            "example": "annual"
          },
          "language": {
            "$ref": "#/components/schemas/LanguageCode"
          }
        }
      },
      "MyAccountMembershipRequest": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "User's email address",
            "example": "user@example.com"
          },
          "mandaiId": {
            "type": "string",
            "description": "User's Mandai ID",
            "example": "MWG-12345678"
          },
          "language": {
            "$ref": "#/components/schemas/LanguageCode"
          }
        }
      },
      "MyAccountMembershipResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["success", "failed"],
            "example": "success"
          },
          "statusCode": {
            "type": "integer",
            "example": 200
          },
          "membership": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "example": 200
              },
              "email": {
                "type": "string",
                "example": "user@example.com"
              },
              "mandaiId": {
                "type": "string",
                "example": "MWG-12345678"
              },
              "firstName": {
                "type": "string",
                "example": "John"
              },
              "lastName": {
                "type": "string",
                "example": "Doe"
              },
              "membershipDetails": {
                "type": "object",
                "properties": {
                  "categoryType": {
                    "type": "string",
                    "example": "Annual Pass"
                  },
                  "expiryDate": {
                    "type": "string",
                    "format": "date",
                    "example": "2025-12-31"
                  }
                }
              }
            }
          }
        }
      },
      "DeleteAccountRequest": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "User's email address",
            "example": "user@example.com"
          },
          "mandaiId": {
            "type": "string",
            "description": "User's Mandai ID",
            "example": "MWG-12345678"
          },
          "language": {
            "$ref": "#/components/schemas/LanguageCode"
          }
        }
      },
      "DeleteAccountResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["success", "failed"],
            "example": "success"
          },
          "statusCode": {
            "type": "integer",
            "example": 200
          },
          "membership": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "example": 200
              },
              "message": {
                "type": "string",
                "example": "Account deleted successfully"
              }
            }
          }
        }
      },
      "UserSignupRequest": {
        "type": "object",
        "required": ["email", "password", "group"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "User's email address (must be unique)",
            "example": "john.tan@gmail.com"
          },
          "password": {
            "type": "string",
            "format": "password",
            "description": "User password (min 8 chars, must include uppercase, lowercase, number, special char)",
            "example": "SecurePass123!"
          },
          "firstName": {
            "type": "string",
            "description": "User's first name",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "description": "User's last name",
            "example": "Tan"
          },
          "group": {
            "$ref": "#/components/schemas/GroupType"
          },
          "phoneNumber": {
            "type": "string",
            "description": "Phone number with country code",
            "example": "+6591234567"
          },
          "dob": {
            "type": "string",
            "format": "date",
            "description": "Date of birth (YYYY-MM-DD)",
            "example": "1990-08-09"
          },
          "gender": {
            "type": "string",
            "enum": ["male", "female", "other"],
            "example": "male"
          },
          "country": {
            "type": "string",
            "description": "Country code (ISO 3166-1 alpha-2)",
            "example": "SG"
          },
          "newsletter": {
            "type": "boolean",
            "description": "Subscribe to newsletter",
            "example": true
          },
          "language": {
            "$ref": "#/components/schemas/LanguageCode"
          }
        }
      },
      "UserUpdateRequest": {
        "type": "object",
        "required": ["email", "group"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "User's email address",
            "example": "john.tan@gmail.com"
          },
          "group": {
            "$ref": "#/components/schemas/GroupType"
          },
          "firstName": {
            "type": "string",
            "description": "User's first name",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "description": "User's last name",
            "example": "Tan"
          },
          "phoneNumber": {
            "type": "string",
            "description": "Phone number with country code",
            "example": "+6598765432"
          },
          "dob": {
            "type": "string",
            "format": "date",
            "description": "Date of birth (YYYY-MM-DD)",
            "example": "1990-08-09"
          },
          "gender": {
            "type": "string",
            "enum": ["male", "female", "other"],
            "example": "male"
          },
          "country": {
            "type": "string",
            "description": "Country code (ISO 3166-1 alpha-2)",
            "example": "SG"
          },
          "newsletter": {
            "type": "boolean",
            "description": "Subscribe to newsletter",
            "example": true
          },
          "language": {
            "$ref": "#/components/schemas/LanguageCode"
          },
          "data": {
            "type": "object",
            "properties": {
              "newEmail": {
                "type": "string",
                "format": "email",
                "description": "New email address for email change",
                "example": "john.tan.new@gmail.com"
              }
            }
          }
        }
      },
      "UserGetRequest": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "User's email address",
            "example": "john.tan@gmail.com"
          }
        }
      },
      "UserSignupResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["success", "failed"],
            "example": "success"
          },
          "statusCode": {
            "type": "integer",
            "example": 200
          },
          "membership": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "example": 200
              },
              "mwgCode": {
                "type": "string",
                "example": "MWG_CIAM_USER_SIGNUP_SUCCESS"
              },
              "message": {
                "type": "string",
                "example": "User created successfully"
              },
              "email": {
                "type": "string",
                "example": "john.tan@gmail.com"
              },
              "mandaiId": {
                "type": "string",
                "description": "Unique Mandai ID assigned to user",
                "example": "MWG-20240815-ABC123"
              }
            }
          }
        }
      },
      "UserResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["success", "failed"],
            "example": "success"
          },
          "statusCode": {
            "type": "integer",
            "example": 200
          },
          "membership": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "example": 200
              },
              "email": {
                "type": "string",
                "example": "john.tan@gmail.com"
              },
              "mandaiId": {
                "type": "string",
                "example": "MWG-20240815-ABC123"
              },
              "firstName": {
                "type": "string",
                "example": "John"
              },
              "lastName": {
                "type": "string",
                "example": "Tan"
              },
              "phoneNumber": {
                "type": "string",
                "example": "+6591234567"
              },
              "dob": {
                "type": "string",
                "example": "1990-08-09"
              },
              "gender": {
                "type": "string",
                "example": "male"
              },
              "country": {
                "type": "string",
                "example": "SG"
              },
              "newsletter": {
                "type": "boolean",
                "example": true
              },
              "group": {
                "type": "string",
                "example": "membership-passes"
              }
            }
          }
        }
      },
      "UserDeleteRequest": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email of user to delete",
            "example": "john.tan@gmail.com"
          },
          "language": {
            "$ref": "#/components/schemas/LanguageCode"
          }
        }
      },
      "ResendMembershipRequest": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "User's email address",
            "example": "john.tan@gmail.com"
          },
          "language": {
            "$ref": "#/components/schemas/LanguageCode"
          }
        }
      }
    }
  },
  "security": [
    {
      "AppId": []
    }
  ],
  "paths": {
    "/v1/ciam/ping": {
      "get": {
        "summary": "Health check (membership)",
        "description": "Simple health check endpoint for membership service",
        "tags": ["Health"],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PingResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ciam/users": {
      "post": {
        "summary": "User signup",
        "description": "Create a new CIAM user account. Supports both WildPass and Membership Passes user groups.",
        "tags": ["Users"],
        "security": [
          {
            "AppId": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserSignupRequest"
              },
              "example": {
                "email": "user@example.com",
                "password": "SecurePass123!",
                "firstName": "John",
                "lastName": "Doe",
                "group": "membership-passes",
                "phoneNumber": "+6591234567",
                "newsletter": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserSignupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters or email already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing app-id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update user info",
        "description": "Update user profile information. Requires authentication for membership-passes group when accessed via AEM.",
        "tags": ["Users"],
        "security": [
          {
            "AppId": []
          },
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserUpdateRequest"
              },
              "example": {
                "email": "user@example.com",
                "group": "membership-passes",
                "firstName": "John",
                "lastName": "Smith",
                "phoneNumber": "+6591234567"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get user by email",
        "description": "Retrieve user information by email address",
        "tags": ["Users"],
        "security": [
          {
            "AppId": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "email",
            "required": true,
            "schema": {
              "type": "string",
              "format": "email"
            },
            "description": "User's email address",
            "example": "user@example.com"
          }
        ],
        "responses": {
          "200": {
            "description": "User found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ciam/users/memberships/resend": {
      "post": {
        "summary": "Resend WildPass",
        "description": "Resend the WildPass digital pass to the user's email",
        "tags": ["Memberships"],
        "security": [
          {
            "AppId": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResendMembershipRequest"
              },
              "example": {
                "email": "user@example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "WildPass resent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "WildPass resent successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ciam/users/delete": {
      "post": {
        "summary": "Delete user",
        "description": "Delete user from Cognito and database. Only available in dev/UAT environments.",
        "tags": ["Users"],
        "security": [
          {
            "AppId": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserDeleteRequest"
              },
              "example": {
                "email": "user@example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleteMember": {
                      "type": "object",
                      "description": "Deletion result"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "501": {
            "description": "Not implemented (in production)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Not Implemented"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/ciam/users/sessions": {
      "post": {
        "summary": "User login",
        "description": "Authenticate user with email and password. Returns JWT tokens on success.",
        "tags": ["Auth"],
        "security": [
          {
            "AppId": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              },
              "example": {
                "email": "user@example.com",
                "password": "SecurePass123!"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "User logout",
        "description": "Logout the currently authenticated user. Invalidates the access token.",
        "tags": ["Auth"],
        "security": [
          {
            "AppId": []
          },
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogoutRequest"
              },
              "example": {
                "email": "user@example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Logout successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogoutResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ciam/users/reset-password": {
      "post": {
        "summary": "Request password reset",
        "description": "Send a password reset email to the user",
        "tags": ["Passwords"],
        "security": [
          {
            "AppId": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPasswordRequest"
              },
              "example": {
                "email": "user@example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password reset email sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResetPasswordResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Validate reset token",
        "description": "Validate the password reset token from the email link",
        "tags": ["Passwords"],
        "security": [
          {
            "AppId": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "passwordToken",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Password reset token"
          },
          {
            "in": "query",
            "name": "language",
            "schema": {
              "type": "string",
              "enum": ["en", "ja", "kr", "zh"]
            },
            "description": "Language for error messages"
          }
        ],
        "responses": {
          "200": {
            "description": "Token validation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateResetTokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Confirm password reset",
        "description": "Set a new password using the reset token",
        "tags": ["Passwords"],
        "security": [
          {
            "AppId": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmResetPasswordRequest"
              },
              "example": {
                "passwordToken": "abc123def456",
                "password": "NewSecurePass123!",
                "confirmPassword": "NewSecurePass123!"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password reset successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmResetPasswordResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ciam/users/membership-passes": {
      "post": {
        "summary": "Get membership passes",
        "description": "Retrieve all membership passes for the authenticated user",
        "tags": ["Memberships"],
        "security": [
          {
            "AppId": []
          },
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MembershipPassesRequest"
              },
              "example": {
                "email": "user@example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Membership passes retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MembershipPassesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ciam/token/verify": {
      "post": {
        "summary": "Verify access token",
        "description": "Verify if the provided access token is valid",
        "tags": ["Tokens"],
        "security": [
          {
            "AppId": []
          },
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenVerifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token verification result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenVerifyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ciam/users/my-membership": {
      "post": {
        "summary": "Create membership pass",
        "description": "Create a new membership pass for the user",
        "tags": ["Memberships"],
        "security": [
          {
            "AppId": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMembershipPassRequest"
              },
              "example": {
                "email": "user@example.com",
                "passType": "annual"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Membership pass created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MembershipPassesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update membership pass",
        "description": "Update an existing membership pass",
        "tags": ["Memberships"],
        "security": [
          {
            "AppId": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMembershipPassRequest"
              },
              "example": {
                "email": "user@example.com",
                "passType": "premium"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Membership pass updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MembershipPassesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ciam/token/refresh": {
      "post": {
        "summary": "Refresh access token",
        "description": "Get a new access token using the refresh token. Requires valid access token in Authorization header.",
        "tags": ["Tokens"],
        "security": [
          {
            "AppId": []
          },
          {
            "ApiKey": []
          },
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRefreshRequest"
              },
              "example": {
                "email": "user@example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token refreshed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenRefreshResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid token or API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ciam/users/memberships": {
      "post": {
        "summary": "Check membership by email",
        "description": "Check if a user has an active membership by their email address",
        "tags": ["Memberships"],
        "security": [
          {
            "AppId": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MembershipCheckRequest"
              },
              "example": {
                "email": "user@example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Membership check result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MembershipCheckResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/ciam/auth/ping": {
      "get": {
        "summary": "Health check (passwordless)",
        "description": "Simple health check endpoint for passwordless authentication service",
        "tags": ["Health"],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PingResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/ciam/auth/passwordless/send": {
      "post": {
        "summary": "Send OTP email",
        "description": "Send a one-time password to the user's email for passwordless authentication",
        "tags": ["Auth"],
        "security": [
          {
            "AppId": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordlessSendRequest"
              },
              "example": {
                "email": "user@example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PasswordlessSendResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - rate limit exceeded or email invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/ciam/auth/passwordless/session": {
      "post": {
        "summary": "Verify OTP",
        "description": "Verify the one-time password and create a session. Returns JWT tokens on success.",
        "tags": ["Auth"],
        "security": [
          {
            "AppId": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordlessVerifyRequest"
              },
              "example": {
                "email": "user@example.com",
                "otp": "123456"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP verified successfully, session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PasswordlessVerifyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid or expired OTP",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/ciam/auth/membership": {
      "post": {
        "summary": "Retrieve membership",
        "description": "Retrieve membership details for the authenticated user",
        "tags": ["Auth"],
        "security": [
          {
            "AppId": []
          },
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MyAccountMembershipRequest"
              },
              "example": {
                "email": "user@example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Membership details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MyAccountMembershipResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete user account",
        "description": "Delete the authenticated user's account and all associated data",
        "tags": ["Auth"],
        "security": [
          {
            "AppId": []
          },
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteAccountRequest"
              },
              "example": {
                "email": "user@example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteAccountResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    }
  }
}
