name: Mandai CI/CD Security Scan
on:
#  push:
  workflow_dispatch:

jobs:

  sonarqube:
    if: ${{contains(github.repository, 'MandaiWildlifeReserves')}}
    name: SonarQube scan
    runs-on: shared-runner
    environment: prod
    steps:
    - name: Checking out
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

#    - name: create coverage folder
#      run: mkdir -p coverage

#    - name: download coverage report 
#      uses: actions/download-artifact@v2
#      with:
#        name: coverage
#        path: ./coverage/

    - name: SonarQube Scan
      uses: sonarsource/sonarqube-scan-action@master
      env:
          SONAR_TOKEN: ${{ secrets.SONARQUBE_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONARQUBE_HOST }}
          SONAR_ROOT_CERT: ${{ secrets.SONAR_ROOT_CERT }}

  grype-scan-repo:
    if: ${{contains(github.repository, 'MandaiWildlifeReserves')}}
    name: grype-scan-repo
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Scan current project
        id: grype-scan-repo
        uses: anchore/scan-action@v3
        with:
          path: "."
          fail-build: true
          only-fixed: true

      - name: upload Grype repo vulnerability assessment sarif report
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: grype-repo-vulnerability-assessment-report
          path: ${{ steps.grype-scan-repo.outputs.sarif }}

      - name: upload Anchore Grype scan repo SARIF report
        if: always()
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: ${{ steps.grype-scan-repo.outputs.sarif }}

  trivy-scan-repo:
    if: ${{contains(github.repository, 'MandaiWildlifeReserves')}}
    name: trivy-scan-repo
    runs-on: ubuntu-latest
    environment: prod
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run Trivy vulnerability scanner in repo mode
        id: trivy-scan-repo
        uses: aquasecurity/trivy-action@0.24.0
        with:
          scan-type: 'fs'
          format: 'sarif'
          exit-code: '0'
          ignore-unfixed: true
          output: 'trivy-repo-scan-results.sarif'
          severity: 'CRITICAL,HIGH'
          skip-dirs: 'infra'

      - name: Check trivy results
        run: |
          if grep -qE 'HIGH|CRITICAL' trivy-repo-scan-results.sarif; then
            echo "Vulnerabilities found"
            exit 1
          else
            echo "No significant vulnerabilities found"
            exit 0
          fi

      - name: upload trivy repo vulnerability assessment report
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: trivy-repo-vulnerability-assessment-report
          path: 'trivy-repo-scan-results.sarif'

      - name: upload trivy scan repo SARIF report
        if: always()
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: 'trivy-repo-scan-results.sarif'

  trivy-scan-config:
    if: ${{contains(github.repository, 'MandaiWildlifeReserves')}}
    name: trivy-scan-config
    runs-on: ubuntu-latest
    environment: prod
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run Trivy vulnerability scanner in IaC mode
        id: trivy-scan-config
        uses: aquasecurity/trivy-action@0.24.0
        with:
          scan-type: 'config'
          hide-progress: false
          format: 'sarif'
          output: 'trivy-config-scan-results.sarif'
          exit-code: 0
          ignore-unfixed: true
          severity: 'CRITICAL,HIGH'

      - name: Check trivy results
        run: |
          if grep -qE 'HIGH|CRITICAL' trivy-config-scan-results.sarif; then
            echo "Vulnerabilities found"
            exit 1
          else
            echo "No significant vulnerabilities found"
            exit 0
          fi

      - name: upload trivy iac config vulnerability assessment report
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: trivy-iac-config-vulnerability-assessment-report
          path: 'trivy-config-scan-results.sarif'

      - name: upload trivy scan config SARIF report
        if: always()
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: 'trivy-config-scan-results.sarif'

