name: sql-update-action
run-name: ${{ github.event.inputs.sql-environment }} Sql Update. Job ${{ github.job }} started by ${{ github.actor }}

on:
  workflow_dispatch:
    inputs:
      sql-environment:
        type: environment
        description: Select the environment
      sql-script-path:
        type: string
        description: "Absolute file path to SQL script"
        required: true

jobs:
  sql-backup:
    runs-on: commonservices-${{ github.event.inputs.sql-environment }}
    environment: ${{ github.event.inputs.sql-environment }}
    outputs:
      DB_USERNAME: ${{ steps.set-db-env.outputs.DB_USERNAME }}
      DB_PASSWORD: ${{ steps.set-db-env.outputs.DB_PASSWORD }}
      DB_SERVER_ENDPOINT: ${{ steps.set-db-env.outputs.DB_SERVER_ENDPOINT }}
    steps:
      - name: checkout Repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-1
          role-to-assume: ${{ secrets.role_arn }}
          role-external-id: ${{ secrets.external_id }}
          role-skip-session-tagging: true

      - name: Set Dynamic Database Env Variables
        id: set-db-env
        run: |
          # Retrieve RDS Cluster Information
          DB_SERVER_ENDPOINT=$(aws rds describe-db-cluster-endpoints --db-cluster-identifier ciam-${{ github.event.inputs.sql-environment }} --query 'DBClusterEndpoints[*].[Endpoint]' --filters 'Name=db-cluster-endpoint-type,Values=writer' --output text)
          DB_USERNAME=$(aws secretsmanager get-secret-value --secret-id ciam-${{ github.event.inputs.sql-environment }}-db-user1 --query 'SecretString' --output text|jq -r .db_user)
          DB_PASSWORD=$(aws secretsmanager get-secret-value --secret-id ciam-${{ github.event.inputs.sql-environment }}-db-user1 --query 'SecretString' --output text|jq -r .db_password)

          # Set output to use across jobs and subsequent steps
          echo "DB_SERVER_ENDPOINT=$DB_SERVER_ENDPOINT" >> $GITHUB_OUTPUT
          echo "DB_USERNAME=$DB_USERNAME" >> $GITHUB_OUTPUT
          echo "DB_PASSWORD=$DB_PASSWORD" >> $GITHUB_OUTPUT

      - name: Create Backup
        env:
          TZ: Asia/Singapore
          DB_SERVER_ENDPOINT: ${{ steps.set-db-env.outputs.DB_SERVER_ENDPOINT }}
          DB_USERNAME: ${{ steps.set-db-env.outputs.DB_USERNAME }}
          DB_PASSWORD: ${{ steps.set-db-env.outputs.DB_PASSWORD }}
        run: |
          mkdir ./backups
          echo "TIMESTAMP=$(date +%d%m%y-%H%M%S)" >> "$GITHUB_ENV"
          BACKUP_FILE="./backups/ciam-${{ github.event.inputs.sql-environment }}-aurora-mysql-backup-$TIMESTAMP.sql.gz"
          mysqldump -h $DB_SERVER_ENDPOINT -P 3306 --ssl -u $DB_USERNAME -p$DB_PASSWORD --single-transaction --routines --triggers -B ciam -y | gzip > $BACKUP_FILE

          if [ ! -s "$BACKUP_FILE" ]; then
            echo "Backup file is empty. Terminating job."
            exit 1
          fi

      - name: Upload to S3
        run: |
          S3_BUCKET=$(aws s3 ls | awk '{print $3}' | grep 'ciam-membership-${{ github.event.inputs.sql-environment }}')
          echo "S3_BUCKET=$S3_BUCKET" >> $GITHUB_ENV
          aws s3 sync ./backups s3://$S3_BUCKET/ciam-rds-backups/

      - name: Upload Backup as Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ciam-rds-backup
          path: ./backups
          retention-days: 7

  sql-update:
    name: Run sql query in ciam database
    needs: sql-backup
    runs-on: commonservices-${{ github.event.inputs.sql-environment }}
    environment: ${{ github.event.inputs.sql-environment }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      # Configure AWS credentials
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-1
          role-to-assume: ${{ secrets.role_arn }}
          role-external-id: ${{ secrets.external_id }}
          role-skip-session-tagging: true

      - name: MySQL query execute
        env: 
          DB_SERVER_ENDPOINT: ${{ needs.sql-backup.outputs.DB_SERVER_ENDPOINT }}
          DB_USERNAME: ${{ needs.sql-backup.outputs.DB_USERNAME }}
          DB_PASSWORD: ${{ needs.sql-backup.outputs.DB_PASSWORD }}
        run: |
          echo "running ${{ github.event.inputs.sql-script-path }}"
          mysql -h $DB_SERVER_ENDPOINT -P 3306 --ssl -u $DB_USERNAME -p$DB_PASSWORD -D ciam < "${{ github.event.inputs.sql-script-path }}"

